@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-dark-1: #1c1f2e;
  --color-dark-2: #161925;
  --color-sky: #C9DDFF;
  --color-orange: #FF742E;
  --color-purple: #830EF9;
  --color-yelow: #F9A90E;
}

:root {
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer base {
  html {
    @apply font-sans;
  }
}

.bg-hero {
  background-image: url("/images/hero-background.png");
}
.glassmorphism {
  background: rgba(255,255,255, 0.25);
  backdrop-filter: blur(4px);
}
